.hero
  .hero-inner
    .hero-copy
      %h1 PG admissions Online
      %p
        Apply to the M.Tech, M.S and Ph.D program at the Department of
        Computer Science, IIT Kanpur.
      %a{ href: 'http://cse.iitk.ac.in/users/admissions/' }
        %button Learn more
